body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    background-color: #444343;
}

a {
    color: white;    
}
a:hover {
    color: white;
    text-decoration: underline;
}

#main {
    height: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-select {
    border: 1px solid white;
    color: white;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px
}
.form-control {
    background: #444343;
    border: 1px solid white;
    color: white;
}
.form-control:disabled {
    background: #444343;
    border: 1px solid white;
    color: lightgray;
}
.form-control:focus {
    background: #444343;
    border: 1px solid white;
    color: white;
}
.form-control.error {
    border: 1px solid orangered;
}
.input-group-text {
    background-color: #272626;
    color: white;
}

.nav-tabs {
    padding-top: 10px;
    border-bottom: none;
}
.nav-link {
    color: lightgray;
}
.nav-link:hover {
    color: white;
    text-decoration: underline;
}
.nav-link.active {
    color: white !important;
    background-color: #444343 !important;
    border-bottom: none;
}
.tab-content {
    background: #444343;
}
.custom-select option {
    background: #444343;
    color: white
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: rgb(227, 100, 20);
}

.btn-outline-secondary:not(:disabled):not(.disabled):hover, .btn-outline-secondary:not(:disabled):not(.disabled):hover, .show>.btn-outline-secondary.dropdown-toggle {
    color: rgb(227, 100, 20);
}

hr {background-color: white;}
h4 {color: black;}
h5 {color: black;}
li {color: black;}
ul {color: black;}

label {color: white;}

td a {color: black;}

/* Modals */
.modal {z-index: 6000;}
.modal-content {
    background-color: rgba(68, 68, 67, 1);
    border: 1px solid white;
    color:white;
    font-size: 16px;
}

/* Slider */
.slider-bar {
    border-radius: 5px;
    height: 8px;
    background-color: rgba(68, 68, 67, 1);
    border: 1px solid white;
    color:white;
    margin-top:16px;
    margin-left: 20px;
    margin-right: 20px;
}
.slider .fa-minus {margin-top: -3px}
.slider .fa-plus {margin-top: -11px}

/* Controls */
.checkbox i {cursor: pointer;}
.checkbox-label:hover {cursor: pointer; text-decoration: underline;}

/* Common Panels */
.zrepo-panel {
    padding: 10px;
    background-color: #272626;
}

.zrepo-header {
    background-color: #272626;
}

.opcion-side-bar {
    width:100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    cursor: pointer;
}
.opcion-side-bar:hover {
    color: rgb(227, 100, 20);
}
.opcion-side-bar-activa {
    color: rgb(227, 100, 20);
}
.titulo-opcion-side-bar {
    margin-top: 10px;
    font-size: 13px;
}

.dim-selector-button {
    cursor: pointer;
}
.dim-selector-button:hover {
    color: rgb(227, 100, 20);
}

.bootstrap-select .dropdown-toggle {
    background-color: #444343 !important;
    color: white;
    border: 1px solid white;    
}